# April 5th Note

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
whos

Variable   Type         Data/Info
---------------------------------
df         DataFrame    Empty DataFrame\nColumns: []\nIndex: []
pd         module       <module 'pandas' from '/o<...>ages/pandas/__init__.py'>

In [4]:
df

Empty DataFrame
Columns: []
Index: []

In [5]:
df['x'] = [ 3,4,1,5,7,2 ]
df['y'] = [ 8,3,6,1,5,3 ]
df

   x  y
0  3  8
1  4  3
2  1  6
3  5  1
4  7  5
5  2  3

In [6]:
df.mean()

x    3.666667
y    4.333333
dtype: float64

In [7]:
# Series with same length as my df
s_centroid_assignment = pd.Series( [1,2,2,1,1,2] )

In [8]:
# I can index the series -> "slicing" 
df[ s_centroid_assignment == 1 ]

   x  y
0  3  8
3  5  1
4  7  5

In [9]:
# I can index the series to find the mean
df[ s_centroid_assignment == 1 ].mean()

x    5.000000
y    4.666667
dtype: float64

In [10]:
df[ s_centroid_assignment == 2 ].mean()

x    2.333333
y    4.000000
dtype: float64

In [11]:
x = 0
while True:
    x = x + 1
    print(x)
    if x > 2:
        break

1
2
3